<a href="https://colab.research.google.com/github/v-1799/CRT-Program/blob/master/Day_5_(03_12_2019)_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# python programming
## python programming
### python programming
#### python programming



1.  python basic
2.  python advance
3.  python program

![image](https://images.pexels.com/photos/60597/dahlia-red-blossom-bloom-60597.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)

[click here](https://www.google.com/)

In [0]:
print("Hello World")

Hello World

In [0]:
x = 10
y = 20
print(x + y)
print(x - y)

30
-10

In [0]:
x = int(input("enter x value"))
y = int(input("enter y value"))
x + y

enter x value10
enter y value20

30

In [0]:
name = input("enter name")
age = int(input("enter age"))
print("my name is",name,end="  ")
print("my age is",age)

enter namevanitha
enter age20
my name is vanitha  my age is 20

#data types


1.  int
2.  float
3.  complex
4.  boolean(true or false)- first letter should be uppercase -True ,False
5.  string

*   python is completely interpreted language , object oriented programming.
*   the codes are compiled by interpreter ;python is case sensitive
*   divided into 2 memories
       1.   stat memory- references(addresses)
       2.   heat memory- values

In [0]:
a = 3
b = 2.67
c = 5+6j
d = 3+5j
print(type(a),type(b),type(c))

<class 'int'> <class 'float'> <class 'complex'>

In [0]:
print(c+d)

(8+11j)

In [0]:
str1 = "Gitam"
str2 = 'University'
str1 + str2

'GitamUniversity'

In [0]:
len(str1)

5

In [0]:
a = 147852369
print(len(str(a)))

9

In [0]:
RESULT = 10<20
print(RESULT,type(RESULT))

True <class 'bool'>

#**OPERATORS**


1. *Arthimatic Operators*
    
*   addition(+)
*   subtraction(-)
*   modular division(%)
*   division(/)
*   exponent/ power(**)
*   floor division operator(//)

2. *Logical Operator*s- checking multiple conditions
*   logical AND(and)
*   logical OR(or)
*   logical NOT(not) 


3. *Relational Operators*- o/p is true or false
  (==,!=,<,>,>=,<=)

4. *Conditional Statements*
*   if
*   else
*   elif

In [0]:
#arithmatic operator
a = 12
b = 23
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

35
-11
276
0.5217391304347826
12
6624737266949237011120128
0

In [0]:
# Logical operator
i = 10
j = 20
print(i>1 and i<20)
print(i>12 or i<33)
print(not i)

True
True
False

In [0]:
#Relational Operators
print(i==j)
print(i !=j)
print(i<j)
print(i>j)
print(i>=j)
print(i<=j)

False
True
True
False
False
True

In [0]:
#Membership Operator
str1 = 'Gitam'
print('z' in str1)
print('z' not in str1)

False
True

In [0]:
# syntax:
if condition:
  statements
 else:
  statements

In [0]:
# to check given number is even or odd
n = int(input("enter any number"))
if n%2==0:
  print('even')
else:
  print("odd")

enter any number25
odd