<a href="https://colab.research.google.com/github/v-1799/CRT-Program/blob/master/Day_6(04_12_2019).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Accept the number and check whether the given number is divisible by 3 and 5 or not
x = int(input("enter the number"))
if (x%3==0) and (x%5==0):
   print("the number is divisible by 3 and 5")
else:
   print("the number is not divisible by 3 and 5")

enter the number15
the number is divisible by 3 and 5

In [0]:
#Accept a number and check the given number id positive, negative or zero
n = int(input("enter the number"))
if n<0:
  print("the number is negative")
elif n==0:
  print("the number is zero")
else:
  print("the number is positive")

enter the number23
the number is positive

In [0]:
#Accept the age of a person and check whether the person is eligible to vote or not 
age = int(input("enter the age"))
if age>=18:
  print("the person is eligible")
else:
  print("the person is not eligible")

enter the age20
the person is eligible

Accept the three subjects marks of the student , if the student gets minimum marks (>30) then find avg else print fail. if avg>75-A grade;avg(65-75)-B grade; avg=(45-65)- C grade; avg=(30-45)-D grade; avg<30 print fail

In [0]:
x = int(input("enter sub-1 marks"))
y = int(input("enter sub-2 marks"))
z = int(input("enter sub-3 marks"))
avg = 0
if x >= 30 and y >= 30 and z >=30:
  avg = avg+(x+y+z)/3
  print(avg)
if avg>75:
  print("Grade A")
elif 65<avg <= 75:
  print("Grade B")
elif 45<avg <= 65:
  print("Grade C")
elif 30<avg <= 45:
  print("Grade D")
else :
  print("fail")

enter sub-1 marks60
enter sub-2 marks80
enter sub-3 marks100
80.0
Grade A

#**LOOPS:**

1.  While loop
2.  For loop

In [0]:
# print numbers from 1 to N
n = int(input("enter the number"))
i=1
while i <= n:
  print(i, end=" ")
  i = i + 1

In [0]:
# print all natural even numbers from 1 to N
n = int(input("enter e number"))
i = 1
while i <= n:
  if i % 2 == 0:
   print(i, end=" ")
  i = i + 1

enter e number20
2 4 6 8 10 12 14 16 18 20

In [0]:
# print the sum of even number from 1 to N
n = int( input("enter a number"))
sum = 0
i = 1
while i <= n:
 if i % 2 == 0:
  sum = sum + i
 i = i + 1
print(sum)

enter a number10
30

In [0]:
# extracting the digits from a number
# input--546
# output-- 6 4 5
n = int(input("enter a number"))
while n != 0:
 print(n%10, end=" ")
 n = n // 10

enter a number546
6 4 5

In [0]:
# palindrome
n = int(input("enter a number"))
rev = 0
temp = n
while n!=0:
  r = n%10
  rev = rev*10+r
  n = n // 10
if rev == temp:
  print("palindrome")
else: 
  print("not palindrome")

enter a number525
palindrome

In [0]:
# amstrong no.
n = int(input("enter a value"))
sum = 0
temp = n
while n!=0:
  i=n%10
  sum = sum+(i**3)
  n=n//10
if sum == temp:
  print("amstrong")
else :
  print("not amstrong")

enter a value157
not amstrong

In [0]:
 print factors of given no.
n = int(input("enter a value"))
i = 1
while i <= n:
  if n%i == 0:
    print(i, end=" ")
  i=i+1

In [0]:
# print numbers from 1 to N
n = int(input("enter a number"))
for i in range(1,n+1):
  print(i)

enter a number10
1
2
3
4
5
6
7
8
9
10

In [0]:
# odd numbers
n = int(input("enter a number"))
for i in range(1,n+1,2):
 print(i)

enter a number10
1
3
5
7
9

In [0]:
n = int(input("enter a number"))
for i in range(0,n+1,2):
 print(i)

enter a number10
0
2
4
6
8
10

In [0]:
n = input("enter your name")
for i in n:
  print(i)

enter your namevanitha
v
a
n
i
t
h
a

In [0]:
n = input("enter your name")
length = len(n)
i = 0
while i < length:
  print(n[i])
  i = i+1

enter your nameGitam
G
i
t
a
m

#**FUNCTIONS:**

In [0]:
#SYNTAX:
def func_name(arguments):
  return

In [0]:
#Function:
def add(x,y):
  return x+y
add(10,20)

30

In [0]:
# print sum of even numbers by using function
def Even_sum(n):
  sum = 0
  for i in range(1,n+1):
    if i%2 == 0:
      sum+=i
  return sum
Even_sum(10)

30